[Unit]
Description=Refresh Broadcast Box NAT IP periodically

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=10s
Persistent=true
Unit=broadcast-box-nat-refresh.service

[Install]
WantedBy=timers.target
